{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "max-len": [1, 120],
    "object-curly-newline": [0],
    "padded-blocks": 0,
    "react/jsx-filename-extension": 0,
    "no-param-reassign": 0
  }
}
