{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "max-len": [1, 120],
    "object-curly-newline": [0],
    "padded-blocks": 0,
    "react/jsx-filename-extension": 0,
    "no-param-reassign": 0,
    "implicit-arrow-linebreak": 0,
    "operator-linebreak": 0,
    "function-paren-newline": 0,
    "react/jsx-one-expression-per-line": 0,
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "hrefLeft", "hrefRight" ],
      "aspects": [ "invalidHref", "preferButton" ]
    }]
  }
}
