{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:cypress/recommended"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {} // this loads <rootdir>/tsconfig.json to eslint
    }
  },
  "parserOptions": {
    "project": "./tsconfig.eslint.json",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint", "testing-library", "jest-dom"],
  "rules": {
    "react/prop-types": ["off"],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/require-default-props": 0, // Introduced when upgrading to eslint 7 + other deps
    "max-len": [1, 120],
    "object-curly-newline": [0],
    "padded-blocks": 0,
    "react/jsx-filename-extension": 0,
    "no-param-reassign": 0,
    "implicit-arrow-linebreak": 0,
    "operator-linebreak": 0,
    "function-paren-newline": 0,
    "react/jsx-one-expression-per-line": 0,
    "@typescript-eslint/no-shadow": 0, // Already available in eslint
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ]
  }
}
