on: ["push", "pull_request"]

name: Test Coveralls

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Install dependencies
        uses: bahmutov/npm-install@v1
        with: 
          install-command: yarn
      
      - name: Make test coverage
        run: 
          yarn test:coverage

      - name: Coveralls
        uses: coverallsapp/github-action@master
